.firstFloor {
	position: relative;
	background-color: black;
	color: greenyellow;
	border: 10px solid white;
	height: 680px;
	width: 1480px;
	padding: 0px;
	text-align: center;
	padding-top: 20px;
}
.rectangle {
	position: absolute;
	border: 2px solid #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: greenyellow;
	background-color: black;
}
.rectangle37 {
	height: 90px;
	width: 90px;
	left: 214px;
	top: 100px;
}
.rectangle2 {
	height: 36px;
	width: 71px;
	top: 133px;
	left: 317px;
	display: none;
}
.rectangle3 {
	height: 98px;
	width: 84px;
	top: 422px;
	left: 46px;
}
.rectangle32 {
	height: 94px;
	width: 51px;
	top: 219px;
	left: 230px;
}

.rectangle4 {
	height: 53px;
	width: 171px;
	top: 277px;
	left: 296px;
}
.rectangle5 {
	height: 73px;
	width: 51px;
	top: 159px;
	left: 230px;
	display: none;
}
.rectangle38 {
	height: 36px;
	width: 46px;
	top: 130px;
	left: 699px;
	display: none;
}
.rectangle39 {
	height: 53px;
	width: 253px;
	top: 277px;
	left: 625px;
}
.rectangle6 {
	height: 90px;
	width: 90px;
	top: 100px;
	left: 414px;
}
.rectangle7 {
	height: 90px;
	width: 90px;
	top: 100px;
	left: 600px;
}
.rectangle8 {
	height: 57px;
	width: 46px;
	top: 164px;
	left: 699px;
	display: none;
}
.rectangle9 {
	height: 110px;
	width: 46px;
	top: 270px;
	display: none;
	left: 699px;
}

.rectangle10 {
	height: 41px;
	width: 61px;
	top: 196px;
	left: 428px;
	display: none;
}
.rectangle11 {
	height: 82px;
	width: 59px;
	top: 198px;
	left: 327px;
	display: none;
}
.rectangle12 {
	height: 185px;
	width: 505px;
	top: 419px;
	left: 298px;
}
.rectangle13 {
	height: 80px;
	width: 80px;
	top: 523px;
	left: 212px;
}
.rectangle14 {
	height: 156px;
	width: 123px;
	top: 531px;
	left: 679px;
	display: none;
}
.rectangle15 {
	height: 156px;
	width: 93px;
	top: 526px;
	left: 497px;
	display: none;
}
.rectangle16 {
	width: 90px;
	height: 38px;
	top: 127px;
	left: 529px;
	transform: rotate(90deg);
}
.rectangle17 {
	height: 50px;
	width: 48px;
	top: 171px;
	left: 540px;
	display: none;
}
.rectangle18 {
	height: 90px;
	width: 90px;
	top: 100px;
	left: 700px;
}
.rectangle19 {
	height: 43px;
	width: 84px;
	top: 368px;
	left: 784px;
	display: none;
}
.rectangle20 {
	height: 90px;
	width: 90px;
	top: 100px;
	left: 800px;
}
.rectangle21 {
	height: 90px;
	width: 90px;
	top: 100px;
	left: 989px;
}
.rectangle22 {
	height: 90px;
	width: 90px;
	top: 100px;
	left: 1090px;
}
.rectangle23 {
	height: 43px;
	width: 93px;
	top: 347.01px;
	left: 1018px;
	display: none;
}
.rectangle24 {
	height: 90px;
	width: 90px;
	top: 100px;
	left: 1188px;
}
.rectangle25 {
	height: 113px;
	width: 47px;
	top: 390px;
	left: 1030px;
	display: none;
}
.rectangle26 {
	height: 53px;
	width: 206px;
	top: 277px;
	left: 974px;
}
.rectangle27 {
	height: 88px;
	width: 14px;
	top: 329px;
	left: 784px;
	display: none;
}
.rectangle28 {
	height: 185px;
	width: 215px;
	top: 419px;
	left: 1066px;
}
.rectangle29 {
	height: 80px;
	width: 73px;
	top: 524px;
	left: 989px;
}
.rectangle30 {
	height: 37px;
	width: 178px;
	top: 281px;
	left: 1276px;
}
